// shorthand css font property
@mixin font($font-weight, $font-size, $line-height, $font-family) {
    font: #{$font-weight} #{$font-size}/#{$line-height} #{$font-family};
}


@mixin makeArrow($width, $color-top, $color-right, $color-bottom, $color-left){
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        border-width: $width $width $width $width;
        border-color: $color-top $color-right $color-bottom $color-left;
        -webkit-transform:rotate(360deg); //removes jaggy edges
}