$breacCustom: $breakSmall + 300;
$height: 60px;

nav.float-menu {
    position: fixed;
    width: $height;
    overflow: visible;
    right: 0;
    top: 40%;
    margin-top: -30px;
    z-index: 1110;
    li{
         a{
            position: relative;
            display: block;
            margin-bottom: 1px;
            height: $height;
            font-weight: bold;
            color: $white;

            span.static-icon{
                position: absolute;
                background: $lightGreen;
                width: $height;
                height: $height;            
                right: 0;
                top:0;
                text-align: center;
                z-index: 2;
                i{
                    width: 60px;
                    height: 60px;
                    display: inline-block;
                    margin-top: 8px;
                    margin-left: 8px;
                }
            }  
            span.link-text{
                background: $navBlue;
                display: block;
                width: 150px;
                text-indent: 15px;
                margin-right: $height;
                line-height: $height;
                font-size: 18px;
                margin-left: 2px;
                letter-spacing: 1px;
                text-decoration: none;
                font-weight: normal;
                z-index: 1;
                @include border-radius(9px);
                @include translateX(0);
                @include transition(all 0.3s ease);
            }
        }
        &:hover{
            span.link-text{
            @include translateX(-100%);
            }
        }
        &:first-of-type{
            a span.static-icon{
                @include border-top-left-radius(8px);
            }
        }
         &:last-of-type{
            a span.static-icon{
                @include border-bottom-left-radius(9px);
            }
        }
        &.float-menu-car {
            span.static-icon img{
                margin-top: 13px;
            }
        }
        &.float-menu-repair{
            span.static-icon img{
                @include scale(0.9);
            }
        }
    }
}

.subpage .float-menu-tools {
    display: none;
}