section.footer {
    border-top: #eaeaea solid 1px;
    box-sizing: border-box;
    background-color: #eaeaea;
    color: #6C7073;
    display: block;
    height: 122px;
    line-height: 21px;
    padding-top: 20px;
    width: 100%;

    @include box-shadow (rgba(255, 255, 255, 1) 0 1px 0 0 insert);

    div.container {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        font-size: 13px;

        p {
            clear: both;
            padding: 22px 10px 0 0px;
            font-size: 0.97em;
        }
        ul {
            &.primary {
                float: left;
                @media screen and (max-width: #{$breakSmall}) {
                    text-align: center;
                }
                li:first-of-type{
                    margin-left: 0;
                }
            }
            &.secondary {
                float: right;
                @media screen and (max-width: #{$breakSmall}) {
                    text-align: center;
                    width: 100%;
                    padding-top: 10px;
                }
                a{
                    position: relative;
                    margin-left: 20px;
                }
                a:first-of-type:before{
                    content: "\f078";
                    font-family: FontAwesome;
                    position: absolute;
                    top: -2px;
                    bottom: 0;
                    height: 25px;
                    overflow: visible;
                    z-index: 1;
                    left: auto;
                    right: -18px;
                }
                li:last-of-type a:before{
                    content: "\f077";
                    font-family: FontAwesome;
                    position: absolute;
                    top: -2px;
                    bottom: 0;
                    height: 25px;
                    overflow: visible;
                    z-index: 1;
                    left: auto;
                    right: -18px;
                }
                li{
                    margin: 0 15px;
                }
            }

            li {
                display: inline-block;
                margin: 0 6px;
                a {
                    color: #6C7073;
                    text-decoration: none;

                    font-weight: bold;
                    height: auto;
                    line-height: 25px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}