// GALLERY ON INDEX PAGE

.gallery-inline {
    margin: 0 0 70px 0;
    section.section-gallery-winners {
        padding-bottom: 0;
        background: grey;

        .gallery {
          position: relative;
            overflow: hidden;

            .gallery-row-winners {
                position: relative;
                @include transition-property(left);
                @include transition-duration(0.5s);

                .item-gallery {
                    margin-right: -3px;
                    opacity: 0;
                    display: inline-block;
                    width: 10%;
                    overflow: hidden;
                    vertical-align: middle;
                    text-align: center;

                    img {
                      width: 100%;
                      vertical-align: middle;

                        &:hover {
                            @media screen and (min-width: #{$breakSmall}) {
                                opacity: .8;
                            }
                        }
                    }

                    a {
                        cursor: pointer;

                        @media screen and (max-width: #{$breakSmall}) {
                            cursor: default;
                        }
                    }
                }
            }

            .gallery-nav-item {
                z-index: 40;
                display: block;
                position: absolute;
                top: 50%;
                width: 50px;
                height: 50px;
                margin-top: -25px;
                background: url('../img/slider-arrows.png') no-repeat;

                &:hover {
                    @include opacity(1);
                }

                &.disabled {
                    @include opacity(0);
                    cursor: default;
                }

                &.prev {
                    left: 8%;
                    background-position: left;
                }

                &.next {
                    right: 8%;
                    background-position: right;
                }

                @media screen and (max-width: #{$breakSmall}) {
                    /* display: none; */
                }
            }
        }
    }
}

footer {
    display: none;
}

.push-left {
    transition: all .6s !important;
    transform: translateX(-100%) !important;
}

.push-right {
    transition: all .6s !important;
    transform: translateX(100%) !important;
}

.full-image-wrapper {
    @include transition(background .35s);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    .single-project.sky-blue { background: $skyBlue; .about-work { background: $skyBlue; } }
    .single-project.green { background: $lightGreen; .about-work { background: $lightGreen; } }
    .single-project.deep-blue { background: $violet; .about-work { background: $violet; } }
    .active {
        opacity: 100 !important;
        // transform: scale(.7, .7) !important;
        // @include transition(all .7s ease-in-out);
    }
    .single-project {
        // transform: scale(1);
        opacity: 0;
        @include transition(all .7s ease-in-out);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        .about-work {
            @include box-shadow(0 0 10px 0 rgba(0, 0, 0, .7));
            padding: 16px 0 16px 0;
            color: white;
            position: absolute;
            bottom: 0px;
            width: 570px;
            min-height: 173px;
            z-index: 29;
            @include display-flex;
            @include flex-direction(row no-wrap);        
            @include translateX(0px);
            @include transition(all .35s ease-in-out);
            &.box-hide {
                @include translateX(-530px);
                @include transition(all .35s ease-in-out);
            }
            .show-hide {
                cursor: pointer;
                position: absolute;
                height: 193px;
                width: 25px;
                top: 0;
                right: 0;
                z-index: 999;
                
                span.ico {
                    position: absolute;
                    top: 10px;
                    right: 8px;
                    width: 20px;
                    height: 20px;
                    background: url('../img/ico-show-hide.png') no-repeat center;
                    @include rotate(0deg);
                    @include transition(all .35s ease-in-out);
                }
                span.left {
                    @include rotate(180deg);
                    @include transition(all .35s ease-in-out);
                }
            }
            .work-award {
                padding-left: 7px;
                width: 110px;
                height: 173px;
                img {
                    width: 96px;
                }
            }
            .work-info {
                width: 410px;
                .work-award-title {
                    padding-bottom: 5px;
                    font-size: 14px;
                }
                .work-title {
                    // height: 72px;
                    font-family: 'toyota_display';
                    font-weight: bold;
                    
                    text-transform: uppercase;
                    
                    h2 {
                        line-height: 20px;
                        font-size: 20px !important;
                    }
                }
                .work-desc {
                    // height: 65px;
                    padding-top: 5px;
                    font-family: 'toyota_text';
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                }
                .work-author {
                    font-family: 'toyota_display';
                    font-weight: bold;
                    padding-top: 7px;
                    border-top: 2px solid white;
                    margin-top: 9px;
                    font-size: 20px !important;
                    text-transform: uppercase;
                }
            }
        }
    }
    .item-gallery {
        text-align: center;
        vertical-align: middle;

        height: 100%;
        position: relative;

        .work-img {
            position: relative;
            top: 50%;
            @include translateY (-50%);
            
            // max-width: 100%;
            // max-height: 100%;
            // position: relative;
            // left: 0;
            // z-index: 20;
            // top: 50%;
            // @include translateY (-50%);
        }
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    
}

.gallery-nav-slider {
    position: absolute;
    width: 100%;
    height: 100%;

    .gallery-nav-item-slider {
        cursor: pointer;
        z-index: 40;
        display: block;
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        margin-top: -47px;
        background: url('../img/slider-arrows.png') no-repeat;
        &:hover {
            @include opacity(1);
        }

        &.disabled {
            @include opacity(0);
            cursor: default;
        }

        &.prev {
            left: 5%;
            background-position: left;
        }

        &.next {
            right: 5%;
            background-position: right;
        }
    }
}



