.page-header-outer {
    background: $navBlue-90;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 85;
    box-shadow: 0 2px 2px rgba(2,2,2,.15);
    .primary-menu{
        li {
            position: relative;
            display: inline-table;
            transition: background-color .66s ease-out;
            margin-right: -3px;

            &.active, &:hover {
                background-color: #4e585e;
            }
        }
        a {
            color: $white;
            padding: 19px 15px 20px;
            font-size: 15px;
            text-decoration: none;
            display: block;
            @media screen and (max-width: #{$breakBig}) {
                    padding: 19px 5px 20px;   
                }
        }
    }

    // ------------------------------
    //    menu responsive state
    // ------------------------------
    @media screen and (max-width: #{$breakSmall+200}) {
        #responsive-button {
            text-transform: uppercase;
            margin: rem(0px) rem(19px) rem(0px) rem(19px);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            cursor: pointer;
            display: block;
            height: 50px;

            &:before {
                content: "\f0c9";
                font-family: FontAwesome;
                position: absolute;
                z-index: -1;
                font-size: 25px;
                color: #fff;
                top: 15px;
                bottom: 0;
                left: auto;
                right: 30px;
            }
        }
        ul.primary-menu {
            right: 0;
            margin: 0;
            width: 100%;
            max-height: 0;
            overflow: hidden;
            @include transition-property(max-height);
            @include transition-duration(0.2s);
            @include transition-timing-function(ease-in);

            li {
                padding: 0;
                display: block;
                float: none;
                margin: 0;
                text-align: right;
            }
            a {
                background: transparent;
                display: block;
                padding: 15px 30px;
                margin: 0;
                font-size: rem(26px);
                color: #fff;
                padding-right: 90px;
            }

            li:not(:last-child) {
                padding: 0;
            }
        }
        ul.responsive-open {
            z-index: 55;
            max-height: 600px;
            li {
                display: block;
                a:hover {
                    color: #838383;
                }
            }
        }
    }
}




