// defaults
// --------

$default_font_size: 16px;

// Layout settings
// -------
$fontSizeMedium: 14px;
$fontSizeSmall: 12px;

$breakBig: 1140px;
$breakMedium: 920px;
$breakSmall: 640px;
$contentWidth: 1140px;


// colors
// ------

$black: rgb(0,0,0);
$white: rgb(255,255,255);

$white-90: rgba(255,255,255,0.9);
$navBlue: #465979;
$navBlue-90: rgba(36, 47, 54, 0.90);
$navBlueLight: #4e64a0;
$navBlueDark: #1b3544;
// $violet: #b686b0;
$violet: #4E64A0; //replace with deep blue
$purpleLight: #b686b0;
$lightGreen: #4eba91;
$lightGreen-90: rgba(78, 186, 145, 0.8);
$darkGold: rgb(134, 88, 5);
$gold: #e5b727;
$skyBlue: #00aae9;
$red: #fc0415;
$redLight: #f4867b;
$orangeLight: #c9663b;
$grey: #808080;
$lightGrey: #989898;


// fonts
// -----

$font: "toyota_display", sans-serif;


// images
// ------

$background-pattern: url("../img/background-pattern.png");
