body {
    min-height: 100%;
    background-color: $white;
    position: relative;
    font-family: $font;
    padding-top: 20px;
    // for toyota iframe submenu 72px
     @media screen and (max-width: 990px) {
        padding-top: 5px;
     }
    @media screen and (max-width: 768px) {
        padding-top: 50px; 
    } 
}
//description-right
a {
    text-decoration: none;
}

.header-outer {
    background-color: $lightGreen-90;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 6;

    .header {
        h2 {
            display: block;
            color: #fff;
            position: relative;
            padding: 29px 73px 41px 100px;
            span.arrow{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 20px 20px 20px;
                border-color: transparent transparent #ffffff;
                -webkit-transform:rotate(360deg);
                border-style: inset;
                position: absolute;
                bottom: 0;
                left: 88px;
                @include transition-property(all);
                @include transition-timing-function(ease-in);
                @include transition-duration(0.5s);
            }
            @media screen and (max-width: #{$breakSmall}) {
                padding: 0 10px;
                font-size: 25px;
                white-space: normal;
                line-height: 30px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }

}


.content{
    width: $contentWidth;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: #{$breakBig}) {
        width: 100%;
        min-width: 320px;
    }
}

.content-center{
    text-align: center;
    margin: 0 auto;
}


// custom resets
// -------------
:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}
img, embed, object, video {
    max-width: 100%;
}
::selection {
    background-color: $navBlue;
    color: $white;
}
::-moz-selection {
    background-color: $navBlue;
    color: $white;
}
