.btn {
    display: inline-block;
    padding: 20px;
    color: $white;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    background: $grey;
    position: relative;

    &.btn-skyBlue {
        background-color: $skyBlue;
    }
    &.btn-lightGreen{
        background-color: $lightGreen;
    }
}