/* Use http://www.fontsquirrel.com/ */

@font-face {
     font-family: 'toyota_display';
     src: url('../fonts/toyotadisplay_bd-webfont.eot');
     src: url('../fonts/toyotadisplay_bd-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/toyotadisplay_bd-webfont.woff') format('woff'),
          url('../fonts/toyotadisplay_bd-webfont.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}

@font-face {
     font-family: 'toyota_display';
     src: url('../fonts/toyotadisplay_rg-webfont.eot');
     src: url('../fonts/toyotadisplay_rg-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/toyotadisplay_rg-webfont.woff') format('woff'),
          url('../fonts/toyotadisplay_rg-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'toyota_text';
     src: url('../fonts/toyotatext_bd-webfont.eot');
     src: url('../fonts/toyotatext_bd-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/toyotatext_bd-webfont.woff') format('woff'),
          url('../fonts/toyotatext_bd-webfont.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}

@font-face {
     // font-family: 'toyota_textitalic';
     font-family: 'toyota_text';
     src: url('../fonts/toyotatext_it-webfont.eot');
     src: url('../fonts/toyotatext_it-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/toyotatext_it-webfont.woff') format('woff'),
          url('../fonts/toyotatext_it-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
}

@font-face {
     font-family: 'toyota_text';
     src: url('../fonts/toyotatext_rg-webfont.eot');
     src: url('../fonts/toyotatext_rg-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/toyotatext_rg-webfont.woff') format('woff'),
          url('../fonts/toyotatext_rg-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}