h1 {
    font-size: 48px;
    font-width: bold;
    color: $lightGreen;
}
h2 {
    font-weight: bold;
    font-size: 27px;

    @media screen and (max-width: #{$breakSmall}) {
        white-space: normal;
    }
}


h3 {
    font-weight: bold;
    font-size: 25px;
}
h4 {
    
}
p {
    
}
a {
    
}
a:hover {
    
}
ul {
    li {
        
    }
}
ol {
    li {
        
    }
}
